# Web & API
fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.6

# Database & Async
sqlalchemy==2.0.25
aiosqlite==0.19.0
alembic==1.13.1

# Data Processing & Science
pandas==2.2.0
numpy==1.26.3
openpyxl==3.1.2  # Required by Pandas for Excel (.xlsx) output

# Validation & Utilities
pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.1
aiofiles==23.2.1  # For async file reading/ingestion

# kafka
aiokafka==0.13.0
kafka-python==2.1.0

